.carousel-item img{
            height: 500px;
            object-fit: cover;}

        footer{
            background-color: #198754;
            color: white;
            text-align: center;
            padding: 5px;}

        .section-title{
            color: #198754;
            margin-bottom: 20px;}

        .navbar{
            background-color: #198754 !important;}